:root {
    --green: #316458;
    --light-green: #438274;
    --red: #CC1E0E;
    --orange: #E66F04;
    --peach: #EE7742;
    --background: #D8A88B;
}

body {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h1 {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    color: var(--green);
}

hr {
    width: 30%;
    color: var(--green);
}

#board {
    width: 350px;
    height: 420px;
    background-color: var(--background);
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;

    /* Text */
    color: var(--green);
    font-weight: bold;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.correct {
    background-color: var(--light-green);
    color: white;
    border-color: white ;
}
.present {
    background-color: var(--orange);
    color: white;
    border-color: white ;
}

.absent {
    background-color: lightgray;
    color: white;
    border-color: white ;
}

#answer {
    color: var(--red);
}